<link rel="stylesheet" href="/static/css/Modules/account.css">
<link rel="stylesheet" href="/static/css/Presets/color.css">

<div class="account-container">
    <div class="account">
        <div class="account-avatar"><img src="/static/photo/Preset/Ava.jpg"></div>
        <div class="account-info">
            <span class="account-user">USER: AanoT24</span>
            <span class="account-id1">ID: <span class="account-id2">2077DK2026</span></span>
            <span class="account-status1">STATUS: <span class="account-status2">ONLINE</span></span>
        </div>
    </div>
    
    <div class="account-city-container">
        <canvas id="cityCanvas"></canvas>
    </div>
</div>

<script src="/static/js/Preset/account.js"></script>