<link rel="stylesheet" href="/static/css/Modules/mini_indi_top.css">

<div class="network-container">
    <span>NETWORK SPEED</span>
    <div class="network-speed">
        <div class="network" id="network-speed-value"></div>
    </div>
    <div class="network-graph" id="network-speed-graph"></div>
</div>

<div class="network-container">
    <span>PING</span>
    <div class="network-speed">
        <div class="network" id="ping-value"></div>
    </div>
    <div class="network-graph" id="ping-graph"></div>
</div>

<div class="network-container">
    <span>I/O</span>
    <div class="network-speed">
        <div class="network" id="io-value"></div>
    </div>
    <div class="network-graph" id="io-graph"></div>
</div>

<div class="network-container">
    <span>RAM</span>
    <div class="network-speed">
        <div class="network" id="ram-value"></div>
    </div>
    <div class="network-graph" id="ram-graph"></div>
</div>

<div class="network-container">
    <span>TEMPERATURE</span>
    <div class="network-speed">
        <div class="network" id="unknown-value"></div>
    </div>
    <div class="network-graph" id="unknown-graph"></div>
</div>