.cpu_gpu-container {
    display: flex;
    width: 450px;
    height: 200px;
    background-image: url('/static/photo/Contour/Radial-indi.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-sizing: border-box;
    padding: 20px 20px 10px 20px; 
    filter: brightness(100%);
}

.cpu-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 59%;
    top: 17.2%;
    right: -8.5%;
    border-radius: 50%;
}
.gpu-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 59%;
    top: 17.2%;
    right: -41%;
    border-radius: 50%;
}

.cpu-inf, .gpu-inf {
    display: flex;
    margin-top: 7px;
    align-items: center;
    flex-direction: column;
}

.cpu-inf span {
    font-size: 17px;
    padding-bottom: 4px;
    color: var(--white);
    text-shadow: var(--neon-text_violet);
}

.gpu-inf span {
    font-size: 17px;
    padding-bottom: 4px;
    color: var(--white);
    text-shadow: var(--neon-text_violet);
}

.cpu-load, .gpu-load {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    font-size: 20px;
    color: var(--white);
    text-shadow: var(--neon-text_violet);
}

